<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Document</title>
</head>
<body>
<input type="text"/> <br/><br/><br/><br/>
<table>
<tr>
<th></th>
<th>Task</th> <!-- Task -->
<th>Start time</th> <!-- Start -->
<th>End time</th> <!-- End -->
<th>Person Assigned</th> <!-- Person Assigned -->
<th>Priority</th> <!-- Priority -->
</tr>
<tr>
<td><input type="checkbox"/></td>
<td><input type="text"/></td>
<td><input type="datetime-local"/></td>
<td><input type="datetime-local"/></td>
<td><input type="text"/></td>
<td><select>
<option>High</option>
<option>Medium</option>
<option>Low</option>
</select></td>
</tr>
<tr><td><input type="checkbox"/></td><td><input type="text"/></td><td><input type="datetime-local"/></td><td><input type="datetime-local"/></td><td><input type="text"/></td><td><select><option>High</option><option>Medium</option><option>Low</option></select></td></tr></table><br/>
<form method="post">
<input name="add" type="submit" value="Add task"/>
</form>
</body>
</html>